# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
.next/
out/
web-build/

# Expo
.expo/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Turbo
.turbo/

# Supabase local
.branches/
.temp/

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env
.env*
.env.local
.env*.local
*.bak

# typescript
*.tsbuildinfo
