# Supabase
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-local-anon-key

# Set to "true" to enable demo phone auth in non-__DEV__ builds
# EXPO_PUBLIC_ENABLE_DEV_PHONE_AUTH=false
